[submodule "w3_refactor/lib/openzeppelin-contracts"]
	path = w3_refactor/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "w3_refactor/lib/forge-std"]
	path = w3_refactor/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
